body{
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.25rem; /* 16px = 100% = 1em   */
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: bold;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container{
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}
.middle-container{
    margin: auto;
    text-align: center;
}
.middle-container.p{
    margin: 20px 400px;
}
.middle-container hr{
    border-style: dotted none none;
    border-width: 5px;
    width: 5%;
    margin: 50px auto;
    border-color: #d5e4e4;
    
}
.profile img{
    width: 10%;
    margin-top: 50px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.cpp{
    width: 30%;
    float: left;
    margin-right: 30px;
}
.web{
    width: 30%;
    float: right;
    margin-left: 30px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;

}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom:300px;
}
.contact-me p{
    margin: auto 400px;
}
.contact-me a{
    /* border: 2px solid #11999E; */
    background-color: #11999E;
    color: white;
    border-radius: 6px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    margin: 20px auto;
    z-index: 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0;
}
.bottom-container a{
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bold;
}
.bottom-container p{
    color: white;
    font-size: 0.7em;
}